body {
    background-color: white;
    padding: 0;
    margin: 0;
}
.top-bar {
    background-color: yellow;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* z-index: 5; */
}
.menu-bar {
    color: black;
    padding: 20px;
    display: inline-block;
    /* left: 20px; */
    text-decoration: none;
}
/* .Name {
    font-size: 20px;
    text-decoration: none;

} */
/* .box {
    display: block;
    background-color: rgb(255, 242, 53);
    padding: 10px;
    margin-bottom: 20px;
} */
.Logo {
    display: inline;
    width: 60px; 
    /* height: 60px; */
    /* z-index: 10; */

}
.title {
    font-size: 30px;
    display: inline-block;
}
.button {
    padding-top: 100px;
}
.homebutton {
    color: pink;
    background-color: blanchedalmond;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    /* bock : เต็มบรรทัด */
    display: inline-block; 
    width: 20%;
}
.Contactbutton {
    color: skyblue;
    background-color: lightgoldenrodyellow;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    /* bock : เต็มบรรทัด */
    /* inline-block ขึ้นมาอยู่ร่วมกันกับปุ่มก่อนหน้าได้ */
    display: inline-block; 
    width: 20%;
}