body {
    background-color: lavenderblush;
    padding: 0;
    margin: 0;
}

.tab-top {
    background-color: rgb(53, 49, 49);
}

.main-center {
    /* max-width ความกว้างสูงสุดที่อนุญาต */
    max-width: 700px;
    margin: auto;
}

.box {
    background-color: rgb(218, 240, 248);
    padding: 30px;
    margin: 20px;
}
.image {
    width: 100%;
}

.video1 {
    width: 100%;
    /* justify-content: center;
    align-items: center; */
    
}

.Youtube {
    width: 100%;
}

.button {
    color: lightcoral;
    background-color: lightgoldenrodyellow;
    padding: 10px;
    /* text-decoration: none เอาเส้นใต้ออก */
    text-decoration: none;
    display: inline-block;
}
.menu-bar {
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}
.pacen {
    font-size: 18px;
    font-weight:600;
}

.tab-down {
    color: white;
    background-color:rgb(53, 49, 49);
    padding: 10px;
    text-align: center;
}