/* popup Model */
.popup-import {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* width: 400px; */
    /* height: 300px; */
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 5px lightgrey;
    /* เลื่อนป๊อปอัปขึ้นเล็กน้อยจากตำแหน่งเริ่มต้น */
    margin-top: -25px; 
}
/* .popup-import .close-btn {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: #70badc;
    color: #000;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
} */
.popup-import > * {
    margin: 15px 0px;
}
.upload-box {
    max-width: 28rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    overflow: hidden;
    /* background-color: pink; */
}
.file-drop-area {
    position: relative;
    margin: 1.5rem;
    padding: 1rem;
    height: 10rem;
    border-radius: 0.5rem;
    border: 2px dashed #737b80;
    /* background-color: #f1f5f9; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-text-area {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-text-area i {
    margin: 1rem;
    /* background-color: #70badc; */
    font-size: 4rem;
    color: #737b80;
}
.icon-text-area span {
    color: #9ca3af;
    font-weight: normal;
}
.Browse-btn {
    margin: 1rem 0 0 0;
    background-color:#70badc;
    border-radius: 7px;
    width: 150px;
    height: 30px;
    border: none;
    color: white;
}
.file-input {
    width: 100%;
    height: 100%;
    opacity: 0;
}
.message {
    margin-top: 10px;
    font-size: 1rem;
    color: red;
    text-align: center;
}


/* Modal Styles */
.confirm-roi {
    /* display: none; */
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    border-radius: 7px;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px 5px lightgrey;
}
.top-Roi .close-btn {
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 10px;
    color: #000;
    border: none;
    outline: none;
    background-color: #f18d39;
    /* border-radius: 50%; */
    cursor: pointer;
}
.modal-content {
    background-color: white;
    padding: 20px;
    /* border-radius: 7px; */
    text-align: center;
    width: 300px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
.top-Roi {
    position: relative;
    background-color: #f18d39;
    border-top-left-radius:7px;
    border-top-right-radius: 7px;
    /* margin: 1rem ; */
    /* height: 10rem; */
    /* border-radius: 0.5rem; */
    /* border: 2px dashed #000000; */
    /* background-color: #f1f5f9; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    /* background-color: #9ca3af; */
    border-radius: 7px;
    margin: 1px 5px;
    padding: 6px 30px;
    cursor: pointer;
}
.confirmB {
    background-color: #1ece26;
    
    color: white;
}

.cancel {
    background-color:#cfd9df;
    color:black;
}
